
body{
  margin: 0px;
  padding: 0px;
}

.globalContainer{
  
  background: black;
  width: 100%;
  height: 672px;
}

.border{

  border-right: 2px solid #dedede;
}

.users{

  background: white;
  width: 30%;
  height: 672px;
 
  float: left;
  
}

.conversation{

  background: url(images/fiesta.jpg);
  width: 70%;
  height: 672px;
  float: left;
  
}

.userInformation{

  background: #E6E6FA;
  width: 100%;
  height: 181px;
  border-right: 1.5px solid #dedede; 
  float: left;
}

li{
  list-style-type: none;
}

.list{

  margin-top: 181px;
  border-top: 1.5px solid #e9e9e9;
  border-right: 1.5px solid #dedede;  
   
}

.contactList{

  background: white;
  width: 100%;
  height:80px;
  border-bottom: 1.5px solid #e9e9e9;
  
}

.box{

  margin-top: 30px;
}

.userBox{
  margin-top: 10px;

}

.chatBox {
  width: 500px;
  min-width: 390px;
  height: 600px;
  background: #fff;
  padding: 25px;
  margin: 20px auto;
  box-shadow: 0 3px #ccc;
  background: #eee;
  border-radius: 5px;
}

.chatLogs {
  padding: 10px;
  width: 100%;
  height: 450px;
  /*background: #eee;*/
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chatLogs::-webkit-scrollbar {
  width: 10px;
}

.chatLogs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}

.chat {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.usuario {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.friend .usuario {
  text-align: left;
}

.self .usuario {
  text-align: right;
}

.mensaje {
  display: block;
  width: 100%;
  background: #1ddced;
}

.chat-message {
  width: 70%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  display: inline-block;
}

.mensaje input {
  display: inline-block;
}

.friend .mensaje .chat-message {
  background: #1ddced;
}

.chat-form {
  margin-top: 20px;
  margin-left: 290px;
  display: flex;
  align-items: flex-start;   
  width: 560px;
  
}


.chat-form textarea {
  background: #fbfbfb;
  height: 50px;
  width: 75%;
  border: 2px solid #eee;
  border-radius: 3px;
  resize: none;
  padding: 10px;
  font-size: 18px;
  color: #333;
}

.chat-form textarea:focus {
  background: #fff;
}


.chat-form button {
  background: #1ddced;
  padding: auto 15px;
  font-size: 30px;
  color: #fff;
  border: none;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
}
